API Scanner/SOAP/usernameTokenTextWebService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceContract001" targetNamespace="http://tempuri.org/">
<wsp:Policy wsu:Id="BasicHttpBinding_HTTPS_USERNAMETOKEN_PSW_TEXT_policy">
<wsp:ExactlyOne>
<wsp:All>
<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<wsp:Policy>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken RequireClientCertificate="false"/>
</wsp:Policy>
</sp:TransportToken>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic256/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:Layout>
<wsp:Policy>
<sp:Lax/>
</wsp:Policy>
</sp:Layout>
<sp:IncludeTimestamp/>
</wsp:Policy>
</sp:TransportBinding>
<sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<wsp:Policy>
<sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:WssUsernameToken10/>
</wsp:Policy>
</sp:UsernameToken>
</wsp:Policy>
</sp:SignedSupportingTokens>
<sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<wsp:Policy/>
</sp:Wss10>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="CustomMtomSecurityNone_policy">
<wsp:ExactlyOne>
<wsp:All>
<wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
<wsaw:UsingAddressing/>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsdl:types>
<xsd:schema targetNamespace="http://tempuri.org/Imports">
<xsd:import schemaLocation="https://auto-labs04.spidynamics.com:4433/wcf/service.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
<xsd:import schemaLocation="https://auto-labs04.spidynamics.com:4433/wcf/service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
<xsd:import schemaLocation="https://auto-labs04.spidynamics.com:4433/wcf/service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScanMeLab"/>
<xsd:import schemaLocation="https://auto-labs04.spidynamics.com:4433/wcf/service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xsd:import schemaLocation="https://auto-labs04.spidynamics.com:4433/wcf/service.svc?xsd=xsd4" namespace="http://tempuri.org/encoded"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ServiceContract001_Login_InputMessage">
<wsdl:part name="parameters" element="tns:Login"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_Login_OutputMessage">
<wsdl:part name="parameters" element="tns:LoginResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_SubmitPurchaseOrder_InputMessage">
<wsdl:part name="parameters" element="tns:SubmitPurchaseOrder"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_LFIinclude_A_InputMessage">
<wsdl:part name="parameters" element="tns:LFIinclude_A"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_LFIinclude_A_OutputMessage">
<wsdl:part name="parameters" element="tns:LFIinclude_AResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_LFIinclude_B_InputMessage">
<wsdl:part name="parameters" element="tns:LFIinclude_B"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_LFIinclude_B_OutputMessage">
<wsdl:part name="parameters" element="tns:LFIinclude_BResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_LFIinclude_C_InputMessage">
<wsdl:part name="parameters" element="tns:LFIinclude_C"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_LFIinclude_C_OutputMessage">
<wsdl:part name="parameters" element="tns:LFIinclude_CResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_LFIinclude_D_InputMessage">
<wsdl:part name="parameters" element="tns:LFIinclude_D"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_LFIinclude_D_OutputMessage">
<wsdl:part name="parameters" element="tns:LFIinclude_DResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_RFIinclude_A_InputMessage">
<wsdl:part name="parameters" element="tns:RFIinclude_A"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_RFIinclude_A_OutputMessage">
<wsdl:part name="parameters" element="tns:RFIinclude_AResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_BOverflow_Recur15_InputMessage">
<wsdl:part name="parameters" element="tns:BOverflow_Recur15"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_BOverflow_Recur15_OutputMessage">
<wsdl:part name="parameters" element="tns:BOverflow_Recur15Response"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_BOverflow_Recur50_InputMessage">
<wsdl:part name="parameters" element="tns:BOverflow_Recur50"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_BOverflow_Recur50_OutputMessage">
<wsdl:part name="parameters" element="tns:BOverflow_Recur50Response"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_XPath_A_InputMessage">
<wsdl:part name="parameters" element="tns:XPath_A"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_XPath_A_OutputMessage">
<wsdl:part name="parameters" element="tns:XPath_AResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_XPath_B_InputMessage">
<wsdl:part name="parameters" element="tns:XPath_B"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_XPath_B_OutputMessage">
<wsdl:part name="parameters" element="tns:XPath_BResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_XPath_C_InputMessage">
<wsdl:part name="parameters" element="tns:XPath_C"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_XPath_C_OutputMessage">
<wsdl:part name="parameters" element="tns:XPath_CResponse"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_ArrayAbuse_InputMessage">
<wsdl:part xmlns:q1="http://tempuri.org/encoded" name="inputArray" type="q1:ArrayOfString"/>
</wsdl:message>
<wsdl:message name="ServiceContract001_ArrayAbuse_OutputMessage">
<wsdl:part xmlns:q2="http://tempuri.org/encoded" name="ArrayAbuseResult" type="q2:ArrayOfString"/>
</wsdl:message>
<wsdl:portType name="ServiceContract001">
<wsdl:operation name="Login">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/Login" message="tns:ServiceContract001_Login_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/LoginResponse" message="tns:ServiceContract001_Login_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="SubmitPurchaseOrder">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/SubmitPurchaseOrder" message="tns:ServiceContract001_SubmitPurchaseOrder_InputMessage"/>
</wsdl:operation>
<wsdl:operation name="LFIinclude_A">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/LFIinclude_A" message="tns:ServiceContract001_LFIinclude_A_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/LFIinclude_AResponse" message="tns:ServiceContract001_LFIinclude_A_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="LFIinclude_B">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/LFIinclude_B" message="tns:ServiceContract001_LFIinclude_B_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/LFIinclude_BResponse" message="tns:ServiceContract001_LFIinclude_B_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="LFIinclude_C">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/LFIinclude_C" message="tns:ServiceContract001_LFIinclude_C_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/LFIinclude_CResponse" message="tns:ServiceContract001_LFIinclude_C_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="LFIinclude_D">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/LFIinclude_D" message="tns:ServiceContract001_LFIinclude_D_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/LFIinclude_DResponse" message="tns:ServiceContract001_LFIinclude_D_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="RFIinclude_A">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/RFIinclude_A" message="tns:ServiceContract001_RFIinclude_A_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/RFIinclude_AResponse" message="tns:ServiceContract001_RFIinclude_A_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="BOverflow_Recur15">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/BOverflow_Recur15" message="tns:ServiceContract001_BOverflow_Recur15_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/BOverflow_Recur15Response" message="tns:ServiceContract001_BOverflow_Recur15_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="BOverflow_Recur50">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/BOverflow_Recur50" message="tns:ServiceContract001_BOverflow_Recur50_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/BOverflow_Recur50Response" message="tns:ServiceContract001_BOverflow_Recur50_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="XPath_A">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/XPath_A" message="tns:ServiceContract001_XPath_A_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/XPath_AResponse" message="tns:ServiceContract001_XPath_A_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="XPath_B">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/XPath_B" message="tns:ServiceContract001_XPath_B_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/XPath_BResponse" message="tns:ServiceContract001_XPath_B_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="XPath_C">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/XPath_C" message="tns:ServiceContract001_XPath_C_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/XPath_CResponse" message="tns:ServiceContract001_XPath_C_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="ArrayAbuse" parameterOrder="inputArray">
<wsdl:input wsaw:Action="http://tempuri.org/ServiceContract001/ArrayAbuse" message="tns:ServiceContract001_ArrayAbuse_InputMessage"/>
<wsdl:output wsaw:Action="http://tempuri.org/ServiceContract001/ArrayAbuseResponse" message="tns:ServiceContract001_ArrayAbuse_OutputMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BasicHttpBinding" type="tns:ServiceContract001">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<wsdl:operation name="Login">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/Login" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SubmitPurchaseOrder">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/SubmitPurchaseOrder" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="LFIinclude_A">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_A" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_B">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_B" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_C">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_C" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_D">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_D" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RFIinclude_A">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/RFIinclude_A" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BOverflow_Recur15">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/BOverflow_Recur15" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BOverflow_Recur50">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/BOverflow_Recur50" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_A">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/XPath_A" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_B">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/XPath_B" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_C">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/XPath_C" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ArrayAbuse">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/ArrayAbuse" style="rpc"/>
<wsdl:input>
<soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="BasicHttpBinding_HTTPS_USERNAMETOKEN_PSW_TEXT" type="tns:ServiceContract001">
<wsp:PolicyReference URI="#BasicHttpBinding_HTTPS_USERNAMETOKEN_PSW_TEXT_policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<wsdl:operation name="Login">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/Login" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SubmitPurchaseOrder">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/SubmitPurchaseOrder" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="LFIinclude_A">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_A" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_B">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_B" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_C">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_C" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_D">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_D" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RFIinclude_A">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/RFIinclude_A" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BOverflow_Recur15">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/BOverflow_Recur15" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BOverflow_Recur50">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/BOverflow_Recur50" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_A">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/XPath_A" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_B">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/XPath_B" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_C">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/XPath_C" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ArrayAbuse">
<soap:operation soapAction="http://tempuri.org/ServiceContract001/ArrayAbuse" style="rpc"/>
<wsdl:input>
<soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="CustomMtomSecurityNone" type="tns:ServiceContract001">
<wsp:PolicyReference URI="#CustomMtomSecurityNone_policy"/>
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<wsdl:operation name="Login">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/Login" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SubmitPurchaseOrder">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/SubmitPurchaseOrder" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="LFIinclude_A">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_A" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_B">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_B" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_C">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_C" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="LFIinclude_D">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/LFIinclude_D" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="RFIinclude_A">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/RFIinclude_A" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BOverflow_Recur15">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/BOverflow_Recur15" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BOverflow_Recur50">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/BOverflow_Recur50" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_A">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/XPath_A" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_B">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/XPath_B" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="XPath_C">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/XPath_C" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ArrayAbuse">
<soap12:operation soapAction="http://tempuri.org/ServiceContract001/ArrayAbuse" style="rpc"/>
<wsdl:input>
<soap12:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="encoded" namespace="http://tempuri.org/" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServiceContract001">
<wsdl:port name="BasicHttpBinding_HTTPS_USERNAMETOKEN_PSW_TEXT" binding="tns:BasicHttpBinding_HTTPS_USERNAMETOKEN_PSW_TEXT">
<soap:address location="https://auto-labs04.spidynamics.com:4433/wcf/service.svc/BasicHttpBinding_HTTPS_USERNAMETOKEN_PSW_TEXT"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>